<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Body</th>
    <th>Created at</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
    <% @posts.each do |post| %>
    <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= post.body.html_safe %></td>
        <td><%= post.created_at.strftime("%d/%m/%Y %I:%M %p") %></td>
    
      
        <td><%= link_to 'Show', admin_post_path(post) %></td>
        <td><%= link_to 'Edit',  edit_admin_post_path(post)%></td>
        <td><%= link_to 'Destroy', admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_admin_post_path %>
<ul class="pager">
             <li>
                <%= paginate @posts  %>

             </li>
      </ul>

